<div class="row">
  <div class="page-header">
    <h1>Campaña</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="overlordName">Señor supremo:</label>
      <input type="text" class="form-control" id="overlordName" placeholder="Nombre del señor supremo" ng-model="main.model.overlord.name">
    </div>
    <div class="form-group">
      <label for="plot">Trama:</label>
      <input type="text" class="form-control" id="plot" placeholder="Trama" ng-model="main.model.overlord.plot">
    </div>

    <!-- Avances -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Avances</div>
      <div class="panel-body">

        <label for="plotAdvance">Avances de trama:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="plotAdvance" placeholder="Avance de trama" ng-model="main.addInputs.plotAdvance.name" >
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="main.api.addPlotAdvance()" aria-label="Agregar avance de trama">Agregar</button>
          </span>
        </div>
        <div ui-sortable>      
            <p class="input-group" ng-repeat="advance in main.model.overlord.plotAdvances track by $index" style="padding:5px 10px;">
                <input type="text" ng-model="advance.name" class="form-control" />
                <span class="input-group-btn">  
                  <button class="btn btn-danger" ng-click="main.api.removePlotAdvance($index)" aria-label="Eliminar avance de trama">X</button>
                </span>
            </p>
         </div>
        

        <label for="commonAdvance">Avances comunes:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="commonAdvance" placeholder="Avance común" ng-model="main.addInputs.commonAdvance.name" >
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="main.api.addCommonAdvance()" aria-label="Agregar avance común">Agregar</button>
          </span>
        </div>
        <div ui-sortable>      
            <p class="input-group" ng-repeat="advance in main.model.overlord.commonAdvances track by $index" style="padding:5px 10px;">
                <input type="text" ng-model="advance.name" class="form-control" />
                <span class="input-group-btn">  
                  <button class="btn btn-danger" ng-click="main.api.removeCommonAdvance($index)" aria-label="Eliminar avance común">X</button>
                </span>
            </p>
        </div>


      </div>  
    </div>
    <!-- Fin  Avances -------------------------------------------------------------------------------------------------------------------------->

    <!-- Lugartenientes -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Lugartenientes</div>
      <div class="panel-body">        
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Localización</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" id="lieutenantName" placeholder="Nombre de lugarteniente" ng-model="main.addInputs.lieutenant.name">
              </td>
              <td><input type="text" class="form-control" id="lieutenantLocation" placeholder="Localización" ng-model="main.addInputs.lieutenant.location"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addLieutenant()" aria-label="Agregar lugarteniente">Agregar</button></td>
            </tr>
            <tr ng-repeat="lieutenant in main.model.lieutenants track by $index" style="padding:5px 10px;" ui-sortable>
              <td><input type="text" ng-model="lieutenant.name" class="form-control" /></td>
              <td><input type="text" ng-model="lieutenant.location" class="form-control" /></td>
              <td><button class="btn btn-danger" ng-click="main.api.removeLieutenant($index)" aria-label="Eliminar lugarteniente">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin Lugartenientes -------------------------------------------------------------------------------------------------------------------------->

    <!-- Grupo de héroes -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Héroes</div>
      <div class="panel-body"> 
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>XP</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="main.model.heroParty.heroes.length<4">
              <td>
                <input type="text" class="form-control" id="heroName" placeholder="Nombre del héroe" ng-model="main.addInputs.hero.name">
              </td>
              <td><input type="number" class="form-control" id="heroXPSpent" placeholder="XP gastados" ng-model="main.addInputs.hero.xpSpent"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addHero()" aria-label="Agregar héroe">Agregar</button></td>
            </tr>
            <tr ng-repeat="hero in main.model.heroParty.heroes track by $index" style="padding:5px 10px;" ui-sortable>
              <td><input type="text" ng-model="hero.name" class="form-control" /></td>
              <td>
                <p class="form-control-static">
                  {{main.api.xpAviableHero(hero)}}                    
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addSpentHeroXP(hero,-1)"></span>
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addSpentHeroXP(hero,+1)"></span>
                </p>
              </td>
              <td><button class="btn btn-danger" ng-click="main.api.removeHero($index)" aria-label="Eliminar héroe">X</button></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <label for="homePort">Puerto seguro:</label>
          <input type="text" class="form-control" id="homePort" placeholder="Puerto seguro" ng-model="main.model.heroParty.homePort">
        </div>
        <div class="form-group">
          <label for="heroPartyLocation">Localización actual del grupo:</label>
          <input type="text" class="form-control" id="heroPartyLocation" placeholder="Localización actual del grupo" ng-model="main.model.heroParty.location">
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="rumorName">Rumor / localización:</label>
          </div>
          <div class="form-inline">
              <input type="text" class="form-control" id="rumorName" placeholder="Rumor activo" ng-model="main.model.heroParty.rumor.name">
              <input type="text" class="form-control" id="rumorLocation" placeholder="Localización del rumor" ng-model="main.model.heroParty.rumor.location">
          </div>
        </div>

      </div>
    </div>
    <!-- Fin Grupo de héroes -------------------------------------------------------------------------------------------------------------------------->

    <!-- Puntos de conquista -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Puntos de conquista</div>
      <div class="panel-body"> 

        <div class="form-group">
          <label class="col-sm-5 control-label">Héroes:</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{main.model.heroParty.conquestTockens}}
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addHeroesConquestTockens(+1)" ></span>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addHeroesConquestTockens(-1)" ></span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label">Señor supremo:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              {{main.api.overlordAviableConquestTockens()}} 
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addOverlordSpentTockens(-1)"></span>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addOverlordSpentTockens(+1)"></span>
              / 
              {{main.model.overlord.conquestTockens}}
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addOverlordConquestTockens(+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addOverlordConquestTockens(-1)"></span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label">Total campaña:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.totalCampaignTockens()}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label">Nivel de campaña:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.campaignLevel()}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label">Favor divino:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.divineFavor()}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Puntos de conquista -------------------------------------------------------------------------------------------------------------------------->


    <!-- Nivel monstruos -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Nivel de monstruos</div>
      <div class="panel-body"> 

      <div class="form-group" ng-repeat="monsterLevel in main.model.monsterLevels">
          <label class="col-sm-5 control-label" ng-bind="monsterLevel.name"></label>
          <div class="col-sm-7">
            <p class="form-control-static">{{monsterLevel | rgtDesMonsterLevel}}
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.modifyMonsterLevel(monsterLevel, +1)" ></span>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.modifyMonsterLevel(monsterLevel, -1)" ></span>
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- Fin Nivel monstruos -------------------------------------------------------------------------------------------------------------------------->

    <!-- Ciudades -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Ciudades</div>
      <div class="panel-body"> 

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Ciudad</th>
              <th>Asedio</th>
              <th>Bóveda</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="cityName" placeholder="Nombre de la ciudad" ng-model="main.addInputs.city.name">
              </td>
              <td><input type="number" class="form-control" id="citySiege" placeholder="Marcadores de asedio" ng-model="main.addInputs.city.siege"></td>
              <td><input type="text" class="form-control" id="cityVault" placeholder="Bóveda" ng-model="main.addInputs.city.vault"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addCity()" aria-label="Agregar ciudad">Agregar</button></td>
            </tr>
            <tr ng-repeat="city in main.model.locations.cities track by $index" style="padding:5px 10px;">
              <td>               
                <input type="text" ng-model="city.name" class="form-control" />
              </td>
              <td>
                <p class="form-control-static">
                  <span ng-bind="city.siege"></span>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addCitySiegeTocken(city,+1)"></span>
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addCitySiegeTocken(city,-1)"></span>

                  <span class="label label-success" ng-show="city.siege===0&amp;&amp;!city.razed">Libre</span>                  
                  <span class="label label-warning" ng-show="city.siege>0&amp;&amp;!city.razed">Bajo asedio</span>
                  <span class="label label-danger"  ng-show="city.razed">Arrasada</span>
                </p>
              </td>              
              <td><input type="text" ng-model="city.vault" class="form-control" /></td>
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre la ciudad">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="city.razed? 'disabled':''        " ><a ng-click="main.api.toggleCityRazed(city)">Arrasar ciudad</a></li>
                    <li ng-class="city.razed? ''        :'disabled'" ><a ng-click="main.api.toggleCityRazed(city)">Restaurar ciudad</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeCity($index)">Eliminar ciudad</a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- Fin Ciudades -------------------------------------------------------------------------------------------------------------------------->

    <!-- Dungeons -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Dungeons</div>
      <div class="panel-body"> 

         <table class="table table-condensed">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th ng-repeat="level in main.addInputs.dungeon.levels track by $index">Nivel <span ng-bind="{{::$index + 1}}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="dungeonName" placeholder="Nombre del dungeon" ng-model="main.addInputs.dungeon.name">
              </td>
              <td></td>
              <td ng-repeat="level in main.addInputs.dungeon.levels track by $index">
                <input type="text" class="form-control" 
                       ng-id="dungeonLevel{{::$index + 1}}" 
                       placeholder="Nivel {{::$index + 1}}" 
                       ng-model="main.addInputs.dungeon.levels[$index]">
              </td>
              <td><button class="btn btn-primary" ng-click="main.api.addDungeon()" aria-label="Agregar dungeon">Agregar</button></td>
            </tr>
            <tr ng-repeat="location in main.model.locations.dungeons track by $index" style="padding:5px 10px;" ui-sortable>
              <td>               
                <input type="text" ng-model="location.name" class="form-control" />
              </td>
              <td>
                <p class="form-control-static">                
                  <span class="label label-default" ng-show="!location.visited">Desconocido</span>                  
                  <span class="label label-primary" ng-show="location.visited &amp;&amp; !location.conquered &amp;&amp; !location.failed">Visitado</span>
                  <span class="label label-success" ng-show="location.conquered">Conquistado</span>
                  <span class="label label-danger"  ng-show="location.failed">Derrota</span>
                </p>
              </td>
              <td ng-repeat="level in location.levels track by $index">
                <input type="text" class="form-control"                        
                       placeholder="Nivel {{::$index +1}}" 
                       ng-model="location.levels[$index]">
              </td>   
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre el dungeon">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="location.visited? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,true)">Visitado</a>
                    </li>
                    <li ng-class="location.visited  &amp;&amp; !location.conquered &amp;&amp; !location.failed? '':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,false)">Restaurar no visitado</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,true)">Conquistado</a>
                    </li>
                    <li ng-class="location.conquered?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,false)">Restaurar no conquistado</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,true)">Derrota</a>
                    </li>
                    <li ng-class="location.failed?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,false)">Restaurar no derrota</a>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeDungeon($index)">Eliminar dungeon</a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
    <!-- Fin Dungeons -------------------------------------------------------------------------------------------------------------------------->


    <!-- Islas -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Islas</div>
      <div class="panel-body"> 

         <table class="table table-condensed">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th ng-repeat="level in main.addInputs.island.levels track by $index">Nivel <span ng-bind="{{::$index + 1}}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="dungeonName" placeholder="Nombre de la isla" ng-model="main.addInputs.island.name">
              </td>
              <td></td>
              <td ng-repeat="level in main.addInputs.island.levels track by $index">
                <input type="text" class="form-control" 
                       ng-id="islandLevel{{::$index + 1}}" 
                       placeholder="Nivel {{::$index + 1}}" 
                       ng-model="main.addInputs.island.levels[$index]">
              </td>
              <td><button class="btn btn-primary" ng-click="main.api.addIsland()" aria-label="Agregar isla">Agregar</button></td>
            </tr>
            <tr ng-repeat="location in main.model.locations.islands track by $index" style="padding:5px 10px;" ui-sortable>
              <td>               
                <input type="text" ng-model="location.name" class="form-control" />
              </td>
              <td>
                <p class="form-control-static">                
                  <span class="label label-default" ng-show="!location.visited">Desconocida</span>                  
                  <span class="label label-primary" ng-show="location.visited &amp;&amp; !location.conquered &amp;&amp; !location.failed">Visitada</span>
                  <span class="label label-success" ng-show="location.conquered">Conquistada</span>
                  <span class="label label-danger"  ng-show="location.failed">Derrota</span>
                </p>
              </td>
              <td ng-repeat="level in location.levels track by $index">
                <input type="text" class="form-control"                        
                       placeholder="Nivel {{::$index}}" 
                       ng-model="location.levels[$index]">
              </td>   
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre la isla">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="location.visited? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,true)">Visitada</a>
                    </li>
                    <li ng-class="location.visited  &amp;&amp; !location.conquered &amp;&amp; !location.failed? '':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,false)">Restaurar no visitada</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,true)">Conquistada</a>
                    </li>
                    <li ng-class="location.conquered?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,false)">Restaurar no conquistada</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,true)">Derrota</a>
                    </li>
                    <li ng-class="location.failed?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,false)">Restaurar no derrota</a>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeIsland($index)">Eliminar isla</a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin Islas -------------------------------------------------------------------------------------------------------------------------->


    <!-- Perfidia -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Perfidia</div>
      <div class="panel-body"> 
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de trampas:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.traps.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.traps,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.traps,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.traps.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.traps,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.traps,-1)"></span>
            </p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de eventos:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.events.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.events,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.events,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.events.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.events,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.events,-1)"></span>
            </p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de monstruos:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.monsters.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.monsters,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.monsters,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.monsters.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.monsters,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.monsters,-1)"></span>
            </p>
          </div>
        </div>

       
      </div>
    </div>
    <!-- Fin Perfidia -------------------------------------------------------------------------------------------------------------------------->

</form>
</div>
