<div class="row">
  <div class="page-header">
    <h1 ng-bind="'TITLE' | translate"></h1>
  </div>
  <form>
    <div class="form-group">
      <label for="overlordName"><span ng-bind="'OVERLORD' | translate"></span>:</label>
      <input type="text" class="form-control" id="overlordName" placeholder="{{'OVERLORD_NAME' | translate}}" ng-model="main.model.overlord.name">
    </div>
    <div class="form-group">
      <label for="plot"><span ng-bind="'PLOT' | translate">:</label>
      <input type="text" class="form-control" id="plot" placeholder="{{'PLOT' | translate}}" ng-model="main.model.overlord.plot">
    </div>

    <!-- Avances -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'UPGRADES' | translate"></div>
      <div class="panel-body">

        <label for="plotUpgrade"><span ng-bind="'PLOT_UPGRADES' | translate"></span>:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="plotUpgrade" placeholder="{{'PLOT_UPGRADE' | translate}}" ng-model="main.addInputs.plotUpgrade.name" >
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="main.api.addPlotUpgrade()" 
                    aria-label="{{'ADD_PLOT_UPGRADE' | translate}}" ng-bind="'ADD' | translate"></button>
          </span>
        </div>
        <div >      
            <p class="input-group" ng-repeat="upgrade in main.model.overlord.plotUpgrades track by $index" style="padding:5px 10px;">
                <input type="text" ng-model="upgrade.name" placeholder="{{'PLOT_UPGRADE' | translate}}" class="form-control" />
                <span class="input-group-btn">  
                  <button class="btn btn-danger" ng-click="main.api.removePlotUpgrade($index)" aria-label="{{'DELETE_PLOT_UPGRADE' | translate}}">X</button>
                </span>
            </p>
         </div>
        

        <label for="commonUpgrade"><span ng-bind="'COMMON_UPGRADES' | translate"></span>:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="commonUpgrade" placeholder="{{'COMMON_UPGRADE' | translate}}" ng-model="main.addInputs.commonUpgrade.name" >
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="main.api.addCommonUpgrade()" 
                    aria-label="{{'ADD_COMMON_UPGRADE' | translate}}" ng-bind="'ADD' | translate"></button>
          </span>
        </div>
        <div >      
            <p class="input-group" ng-repeat="upgrade in main.model.overlord.commonUpgrades track by $index" style="padding:5px 10px;">
                <input type="text" ng-model="upgrade.name" placeholder="{{'COMMON_UPGRADE' | translate}}" class="form-control" />
                <span class="input-group-btn">  
                  <button class="btn btn-danger" ng-click="main.api.removeCommonUpgrade($index)" aria-label="{{'DELETE_COMMON_UPGRADE' | translate}}">X</button>
                </span>
            </p>
        </div>


      </div>  
    </div>
    <!-- Fin  Avances -------------------------------------------------------------------------------------------------------------------------->

    <!-- Lugartenientes -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'LIEUTENANTS' | translate"></div>
      <div class="panel-body">        
        <table class="table table-condensed">
          <thead>
            <tr>
              <th ng-bind="'LIEUTENANT_NAME' | translate"></th>
              <th ng-bind="'LOCATION' | translate"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" id="lieutenantName" 
                       placeholder="{{'LIEUTENANT_NAME' | translate}}" ng-model="main.addInputs.lieutenant.name">
              </td>
              <td><input type="text" class="form-control" id="lieutenantLocation" placeholder="{{'LOCATION' | translate}}" 
                         ng-model="main.addInputs.lieutenant.location"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addLieutenant()" aria-label="{{'ADD_LIEUTENANT' | translate}}" 
                          ng-bind="'ADD' | translate"></button></td>
            </tr>
            <tr ng-repeat="lieutenant in main.model.lieutenants.list track by $index" style="padding:5px 10px;" >
              <td><input type="text" ng-model="lieutenant.name" placeholder="{{'LIEUTENANT_NAME' | translate}}" class="form-control" /></td>
              <td><input type="text" ng-model="lieutenant.location" class="form-control" /></td>
              <td><button class="btn btn-danger" ng-click="main.api.removeLieutenant($index)" aria-label="{{'DELETE_LIEUTENANT' | translate}}">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin Lugartenientes -------------------------------------------------------------------------------------------------------------------------->

    <!-- Grupo de héroes -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'HEROES' | translate"></div>
      <div class="panel-body"> 
        <table class="table table-condensed">
          <thead>
            <tr>
              <th ng-bind="'NAME'|translate"></th>
              <th ng-bind="'XP'|translate"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="main.model.heroParty.heroes.length<main.cons.campaign.MAX_HERO_PARTY_SIZE">
              <td>
                <input type="text" class="form-control" id="heroName" placeholder="{{'HERO_NAME' | translate}}" ng-model="main.addInputs.hero.name">
              </td>
              <td><input type="number" class="form-control" id="heroXPSpent" 
                         placeholder="{{'HERO_XP_SPENT'|translate}}" ng-model="main.addInputs.hero.xpSpent"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addHero()" 
                          aria-label="{{'ADD_HERO'|translate}}" ng-bind="'ADD'|translate"></button></td>
            </tr>
            <tr ng-repeat="hero in main.model.heroParty.heroes track by $index" style="padding:5px 10px;" >
              <td><input type="text" ng-model="hero.name" class="form-control" placeholder="{{'HERO_NAME' | translate}}" required/></td>
              <td>
                <p class="form-control-static">
                  {{main.api.xpAviableHero(hero)}}                    
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addSpentHeroXP(hero,-1)"></span>
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addSpentHeroXP(hero,+1)"></span>
                </p>
              </td>
              <td><button class="btn btn-danger" ng-click="main.api.removeHero($index)" aria-label="{{'DELETE_HERO'|translate}}">X</button></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <label for="homePort"><span ng-bind="'HOME_PORT' | translate">:</label>
          <input type="text" class="form-control" id="homePort" placeholder="Puerto seguro" ng-model="main.model.heroParty.homePort">
        </div>
        <div class="form-group">
          <label for="heroPartyLocation"><span ng-bind="'PARTY_LOCATION' | translate">:</label>
          <input type="text" class="form-control" id="heroPartyLocation" placeholder="Localización actual del grupo" ng-model="main.model.heroParty.location">
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="rumorName"><span ng-bind="'RUMOR' | translate" /> / <span ng-bind="'LOCATION' | translate"/>:</label>
          </div>
          <div class="form-inline">
              <input type="text" class="form-control" 
                     id="rumorName" placeholder="{{'CURRENT_RUMOR'|translate}}" ng-model="main.model.heroParty.rumor.name" style="width:50%">
              <input type="text" class="form-control" 
                     id="rumorLocation" placeholder="{{'RUMOR_LOCATION'|translate}}" ng-model="main.model.heroParty.rumor.location" style="width:40%">
          </div>
        </div>

      </div>
    </div>
    <!-- Fin Grupo de héroes -------------------------------------------------------------------------------------------------------------------------->

    <!-- Puntos de conquista -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'CONQUEST_TOCKENS'|translate"></div>
      <div class="panel-body"> 

        <div class="form-group">
          <label class="col-sm-5 control-label"><span ng-bind="'HEROES'|translate" />:</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{main.model.heroParty.conquestTockens}}
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addHeroesConquestTockens(+1)" ></span>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addHeroesConquestTockens(-1)" ></span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label"><span ng-bind="'OVERLORD'|translate"/>:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              {{main.api.overlordAviableConquestTockens()}} 
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addOverlordSpentTockens(-1)"></span>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addOverlordSpentTockens(+1)"></span>
              / 
              {{main.model.overlord.conquestTockens}}
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addOverlordConquestTockens(+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addOverlordConquestTockens(-1)"></span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label"><span ng-bind="'CAMPAIGN_TOTAL_CONQUEST_TOCKENS'|translate" />:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.totalCampaignTockens()}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label"><span ng-bind="'CAMPAIGN_LEVEL'|translate"/>:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.campaignLevel()}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label"><span ng-bind="'DIVINE_FAVOR'|translate"/>:</label>
          <div class="col-sm-5">
            <p class="form-control-static">{{main.api.divineFavor()}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Puntos de conquista -------------------------------------------------------------------------------------------------------------------------->


    <!-- Nivel monstruos -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'LEVEL_MONSTERS'|translate"></div>
      <div class="panel-body"> 

      <div class="form-group" ng-repeat="monsterLevel in main.model.monsterLevels">
          <label class="col-sm-5 control-label" ng-bind="monsterLevel.type | rgtDesMonsterTypeName"></label>
          <div class="col-sm-7">
            <p class="form-control-static">{{monsterLevel | rgtDesMonsterLevel}}
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.modifyMonsterLevel(monsterLevel, +1)" ></span>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.modifyMonsterLevel(monsterLevel, -1)" ></span>
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- Fin Nivel monstruos -------------------------------------------------------------------------------------------------------------------------->

    <!-- Ciudades -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'CITIES'|translate"></div>
      <div class="panel-body"> 

        <table class="table table-condensed">
          <thead>
            <tr>
              <th ng-bind="'CITY'|translate"></th>
              <th ng-bind="'SIEGE'|translate"></th>
              <th ng-bind="'VAULT'|translate"></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="cityName" placeholder="{{'CITY_NAME'|translate}}" ng-model="main.addInputs.city.name">
              </td>
              <td><input type="number" class="form-control" id="citySiege" 
                         placeholder="{{'SIEGE_TOCKENS'|translate}}" ng-model="main.addInputs.city.siege"></td>
              <td><input type="text" class="form-control" id="cityVault" 
                         placeholder="{{'VAULT'|translate}}" ng-model="main.addInputs.city.vault"></td>
              <td><button class="btn btn-primary" ng-click="main.api.addCity()" aria-label="{{'ADD_CITY'|translate}}" ng-bind="'ADD'|translate"></button></td>
            </tr>
            <tr ng-repeat="city in main.model.locations.cities track by $index" style="padding:5px 10px;">
              <td>               
                <input type="text" ng-model="city.name" class="form-control" placeholder="{{'CITY_NAME'|translate}}" />
              </td>
              <td>
                <p class="form-control-static">
                  <span ng-bind="city.siege"></span>
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="main.api.addCitySiegeTocken(city,+1)"></span>
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" ng-click="main.api.addCitySiegeTocken(city,-1)"></span>

                  <span class="label {{city | desCityStateClass}}" ng-bind="city | desCityState"></span>  
                </p>
              </td>              
              <td><input type="text" ng-model="city.vault" class="form-control" placeholder="{{'VAULT'|translate}}"/></td>
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre la ciudad">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span ng-bind="'ACTIONS'|translate"/> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="city.razed? 'disabled':''        " ><a ng-click="main.api.toggleCityRazed(city)" ng-bind="'RAZE_CITY'|translate"></a></li>
                    <li ng-class="city.razed? ''        :'disabled'" ><a ng-click="main.api.toggleCityRazed(city)" ng-bind="'RESTORE_CITY'|translate"></a></li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeCity($index)" ng-bind="'DELETE_CITY'|translate"></a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- Fin Ciudades -------------------------------------------------------------------------------------------------------------------------->

    <!-- Dungeons -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading" ng-bind="'DUNGEON'|translate"></div>
      <div class="panel-body"> 

         <table class="table table-condensed">
          <thead>
            <tr>
              <th ng-bind="'NAME'|translate"></th>
              <th ng-bind="'STATE'|translate"></th>
              <th ng-repeat="level in main.addInputs.dungeon.levels track by $index">
                <span ng-bind="'LEVEL'|translate"/> <span ng-bind="{{::$index + 1}}"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="dungeonName" placeholder="{{'DUNGEON_NAME'|translate}}" ng-model="main.addInputs.dungeon.name">
              </td>
              <td></td>
              <td ng-repeat="level in main.addInputs.dungeon.levels track by $index">
                <input type="text" class="form-control" 
                       ng-id="dungeonLevel{{::$index + 1}}" 
                       placeholder="{{'LEVEL'|translate}} {{::$index + 1}}" 
                       ng-model="main.addInputs.dungeon.levels[$index]">
              </td>
              <td>
                <button class="btn btn-primary" ng-click="main.api.addDungeon()" 
                        aria-label="{{'ADD_DUNGEON'|translate}}" ng-bind="'ADD'|translate"></button>
              </td>
            </tr>
            <tr ng-repeat="location in main.model.locations.dungeons track by $index" style="padding:5px 10px;" >
              <td>               
                <input type="text" ng-model="location.name" class="form-control" />
              </td>
              <td>
                <p class="form-control-static">                
                  <span class="label label-default" ng-show="!location.visited">Desconocida</span>                  
                  <span class="label label-primary" ng-show="location.visited &amp;&amp; !location.conquered &amp;&amp; !location.failed">Visitada</span>
                  <span class="label label-success" ng-show="location.conquered">Conquistada</span>
                  <span class="label label-danger"  ng-show="location.failed">Derrota</span>
                </p>
              </td>
              <td ng-repeat="level in location.levels track by $index">
                <input type="text" class="form-control"                        
                       placeholder="Nivel {{::$index +1}}" 
                       ng-model="location.levels[$index]">
              </td>   
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre el dungeon">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="location.visited? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,true)">Visitado</a>
                    </li>
                    <li ng-class="location.visited  &amp;&amp; !location.conquered &amp;&amp; !location.failed? '':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,false)">Restaurar no visitado</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,true)">Conquistado</a>
                    </li>
                    <li ng-class="location.conquered?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,false)">Restaurar no conquistado</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,true)">Derrota</a>
                    </li>
                    <li ng-class="location.failed?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,false)">Restaurar no derrota</a>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeDungeon($index)">Eliminar dungeon</a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
    <!-- Fin Dungeons -------------------------------------------------------------------------------------------------------------------------->


    <!-- Islas -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Islas</div>
      <div class="panel-body"> 

         <table class="table table-condensed">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th ng-repeat="level in main.addInputs.island.levels track by $index">Nivel <span ng-bind="{{::$index + 1}}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                <input type="text" class="form-control" id="dungeonName" placeholder="Nombre de la isla" ng-model="main.addInputs.island.name">
              </td>
              <td></td>
              <td ng-repeat="level in main.addInputs.island.levels track by $index">
                <input type="text" class="form-control" 
                       ng-id="islandLevel{{::$index + 2}}" 
                       placeholder="Nivel {{::$index + 2}}" 
                       ng-model="main.addInputs.island.levels[$index]">
              </td>
              <td><button class="btn btn-primary" ng-click="main.api.addIsland()" aria-label="Agregar isla">Agregar</button></td>
            </tr>
            <tr ng-repeat="location in main.model.locations.islands track by $index" style="padding:5px 10px;" >
              <td>               
                <input type="text" ng-model="location.name" class="form-control" />
              </td>
              <td>
                <p class="form-control-static">                
                  <span class="label label-default" ng-show="!location.visited">Desconocida</span>                  
                  <span class="label label-primary" ng-show="location.visited &amp;&amp; !location.conquered &amp;&amp; !location.failed">Visitada</span>
                  <span class="label label-success" ng-show="location.conquered">Conquistada</span>
                  <span class="label label-danger"  ng-show="location.failed">Derrota</span>
                </p>
              </td>
              <td ng-repeat="level in location.levels track by $index">
                <input type="text" class="form-control"                        
                       placeholder="Nivel {{::$index +2}}" 
                       ng-model="location.levels[$index]">
              </td>   
              <td>
                <div class="btn-group" role="group" aria-label="Acciones sobre la isla">                  
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-class="location.visited? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,true)">Visitada</a>
                    </li>
                    <li ng-class="location.visited  &amp;&amp; !location.conquered &amp;&amp; !location.failed? '':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocVisited(location,false)">Restaurar no visitada</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,true)">Conquistada</a>
                    </li>
                    <li ng-class="location.conquered?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocConquered(location,false)">Restaurar no conquistada</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-class="!location.visited || location.conquered || location.failed ? 'disabled':''" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,true)">Derrota</a>
                    </li>
                    <li ng-class="location.failed?'':'disabled'" >
                      <a ng-click="main.api.toggleAdvLocFailed(location,false)">Restaurar no derrota</a>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click="main.api.removeIsland($index)">Eliminar isla</a></li>
                  </ul>                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin Islas -------------------------------------------------------------------------------------------------------------------------->


    <!-- Perfidia -------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">Perfidia</div>
      <div class="panel-body"> 
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de trampas:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.traps.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.traps,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.traps,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.traps.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.traps,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.traps,-1)"></span>
            </p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de eventos:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.events.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.events,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.events,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.events.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.events,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.events,-1)"></span>
            </p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-5 control-label">Perfidia de monstruos:</label>
          <div class="col-sm-7">
            <p class="form-control-static">
              <span ng-bind="main.model.overlord.treachery.monsters.current"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.monsters,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseCurrentTreachery(main.model.overlord.treachery.monsters,-1)"></span>
              / 
              <span ng-bind="main.model.overlord.treachery.monsters.max"></span>
                <span class="glyphicon glyphicon-plus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.monsters,+1)"></span>
                <span class="glyphicon glyphicon-minus-sign" 
                      aria-hidden="true" 
                      ng-click="main.api.increaseMaxTreachery(main.model.overlord.treachery.monsters,-1)"></span>
            </p>
          </div>
        </div>

       
      </div>
    </div>
    <!-- Fin Perfidia -------------------------------------------------------------------------------------------------------------------------->

</form>
</div>
