<div class="row">
  <div class="page-header">
  	<h1 ng-bind="'SAVE_AND_LOAD_TITLE'|translate"></h1>
  </div>

  <div class="row">
  	<div class="col-md-12">
  		<h2 ng-bind="'EXPORT_CAMPAIGN'|translate"></h2>
  		<p ng-bind="'EXPORT_CAMPAIGN_DESCRIPTION'|translate">  			
  		</p>
  		<div class="btn-group" role="group" aria-label="save to">
		  <button type="button" class="btn btn-default" ng-click="saveAndLoad.api.toJSON()" ng-bind="'TO_JSON'|translate"></button>
		  <button type="button" class="btn btn-default" ng-click="saveAndLoad.api.toObsidianPortalWiki()" ng-show="false">A formato Obsidian Portal</button>
		</div>
  	</div>
  	<div class="col-md-12">
  		<pre ng-bind="saveAndLoad.model.output"></pre>
      <!--
      <hr />
      <pre>
        <des-red-cloth-campaign-model data-model="saveAndLoad.model.campaignModel"></des-red-cloth-campaign-model>
      </pre>
      -->
  	</div>
  </div>


  <div class="row">
  	<div class="col-md-12">
  		<h2 ng-bind="'IMPORT_CAMPAIGN'|translate"></h2>
  		<p ng-bind="'IMPORT_CAMPAIGN_DESCRIPTION'|translate">  			
  		</p>
  		<div class="btn-group" role="group" aria-label="save to">
		  <button type="button" class="btn btn-default" ng-click="saveAndLoad.api.fromJSON()" ng-bind="'FROM_JSON'|translate"></button>
		</div>
  	</div>
  	<div class="col-md-12">
  		<textarea style="height: 10em;" class="form-control field" ng-model="saveAndLoad.model.input"></textarea>  		
  	</div>
  	<div class="col-md-12">  		
  		<div class="alert alert-success" role="alert"  		     
  		     ng-show="saveAndLoad.model.showImportMessage &amp;&amp; saveAndLoad.model.importResult.success">

  			<span ng-bind="saveAndLoad.model.importResult.text"></span>
  			<a href="#/" ng-bind="'VIEW'|translate"></a>
  		</div>
  		<div class="alert alert-danger" role="alert" 
  		     ng-bind="saveAndLoad.model.importResult.text" 
  		     ng-show="saveAndLoad.model.showImportMessage &amp;&amp; !saveAndLoad.model.importResult.success"></div>
  	</div>
  </div>
</div>
