<div>
h1. Nivel de Campaña

table{border:1px solid black;width:40%}.
|_. Campaña (C/P/O) |{border:1px solid black}. *Plata* |
|_. Humanoides (C/P/O/D) |{border:1px solid black}. *Plata* |
|_. Bestias (C/P/O/D) |{border:1px solid black}. *Plata* |
|_. Arcanos (C/P/O/D) |{border:1px solid black}. *Oro* |

h1. Trama

table{border:1px solid black;width:40%}.
|_. Señor Supremo |{border:1px solid black}. [[:<span ng-bind="model.overlord.name"></span> | <span ng-bind="model.overlord.name"></span>]] |
|_. Trama |{border:1px solid black}. La reina de las sombras |
|_\2. Avances de Trama |
|\2{border:1px solid black}. [[El influjo del mar]] |
|\2{border:1px solid black}. [[La nueva ley]] (armas, cañones X2) + cierrabares|
|\2{border:1px solid black}. [[Impuestos excesivos]] (Entrar a cualquier ciudad que no sea Dallak cuesta 100 monedas)|
|\2{border:1px solid black}. [[Conversaciones de paz]] (Dallak se considera arrasada)|
|_\2. Avances |
|\2{border:1px solid black}. [[Reinado del terror]] |
|\2{border:1px solid black}. [[Máquinas de asedio]] |
|_\2. Lugartenientes |
|\2{border:1px solid black}. [[La sirena]] |
|\2{border:1px solid black}. [[El Kraken]] |

h1. Grupo

table{border:1px solid black;width:40%}.
|_. PJ |_. PX |
|_. [[:mae-carthos-el-loco | Carthos el loco]] |>{border:3px solid black}. 1 |
|_. [[:mae-mordog | Mordog]] |>{border:3px solid black}. 11 |
|_. [[:mae-trenloe-el-fuerte | Trenloe el Fuerte]] |>{border:3px solid black}. 11 |
|_. [[:mae-vyrah-el-halconero | Vyrah el Halconero]] |>{border:3px solid black}. 5 |

table{border:1px solid black;width:80%}.
|_. Ubicación Actual del grupo |\3{border:1px solid black}. [[Cala de la Medianoche | Cala de la Medianoche]] |
|_. Puerto Seguro |\3{border:1px solid black}.  [[Garnot | Garnot]] |
|_. Rumor Activo |{border:1px solid black}. Cazar a la sierpe |_>. Ubicación |{border:1px solid black}.  [[Cuenca Sollozante | Cuenca Sollozante]]  |




h1. Puntos de Conquista

table{border:1px solid black;width:40%}.
|_. Héroes |\3>{border:3px solid black}. 122 |
|_. Señor Supremo |>{border:3px solid black}. 11  | / |>{border:3px solid black}. 216  |
|_. Total Campaña |\3>{border:3px solid black}. 338; próximo nivel: 400 |
|_. Favor divino: |\3>{border:3px solid black}.  -2 |

h1. Lugartenientes

table{border:1px solid black;width:40%}.
|_. Lugarteniente |_. Ubicación |
|{border:1px solid black}. La Sirena |{border:1px solid black}.  [[Golfo Amortajado | Golfo Amortajado]] |
|{border:1px solid black}. El kraken |{border:1px solid black}. [[Puerto Concha | Puerto Concha]] |
|{border:1px solid black}. Ninguno |{border:1px solid black}. Ninguna |
|{border:1px solid black}. Ninguno |{border:1px solid black}. Ninguna |

h1. Perfidia

table{border:1px solid black;width:40%}.
|_. Perfidia de Trampas |>{border:1px solid black}. 2/2 |
|_. Perfidia de Eventos |>{border:1px solid black}. 0/3 |
|_. Perfidia de Monstruos |>{border:1px solid black}. 0/2 |

h1. Geografía

h3. Ciudades

table{border:1px solid black;width:60%}.
|_. Ciudad |_. Asedio |_. Bóveda |
|_. [[Dallak]] |{border:1px solid black}. Arrasada |{border:1px solid black}. Nada |
|_. [[Gafford]] |{border:1px solid black}. No Asediada |{border:1px solid black}. Nada |
|_. [[Garnot]] |{border:1px solid black}. No Asediada |{border:1px solid black}. Nada |
|_. [[Hardell]] |{border:1px solid black}. No Asediada |{border:1px solid black}. Nada |
|_. [[Orris]] |{border:1px solid black}. Arrasada |{border:1px solid black}. Nada |
|_. [[Puerto Concha]] |{border:1px solid black}. No Asediada |{border:1px solid black}. Nada |
|_. [[Tarianor]] |{border:1px solid black}. Arrasada |{border:1px solid black}. Nada |
|_. [[Trelton]] |{border:1px solid black}. No Asediada |{border:1px solid black}. Nada |

h3. Mazmorras

table{border:1px solid black;width:60%}.
|_. Mazmorra |_. Estado |_. Niveles |
|_. [[Bosque del Venado]] |{border:1px solid black}. Visitado |
|_. [[Bosque Hueco]] |{border:1px solid black}. Conquistada | 61, 47, 55 |
|_. [[Caudal del Queldan]] |{border:1px solid black}. Conquistada | 66, 54, Rumor (_Cortejo fúnebre_) |
|_. [[Ciénaga de las Víboras]] |{border:1px solid black}. Conquistada | 58, 63, 57 |
|_. [[Ciénaga Olvidada]] |{border:1px solid black}. Desconocida |
|_. [[Colinas del Ocaso]] |{border:1px solid black}. Conquistada | 54, 74, 50 |
|_. [[Colinas Trémulas]] |{border:1px solid black}. Desconocida |
|_. [[Cordillera de la Nube de Fuego]] |{border:1px solid black}. Visitada |
|_. [[Cumbres del Cuervo Lunar]] |{border:1px solid black}. Desconocida |
|_. [[LLanura Marchita]] |{border:1px solid black}. Desconocida |
|_. [[Llanuras del Hielo Rojo]] |{border:1px solid black}. Desconocida |
|_. [[Montaña Apacible]] |{border:1px solid black}. Desconocida |
|_. [[Montaña de la Ceniza]] |{border:1px solid black}. Desconocida |
|_. [[Monte Arrik]] |{border:1px solid black}. Desconocida |
|_. [[Monte Orrik]] |{border:1px solid black}. Conquistado | 65, 44, 45 |
|_. [[Pantano Putrefacto]] |{border:1px solid black}. Desconocida |
|_. [[Páramo Baldío]] |{border:1px solid black}. Conquistada | 41, 48, Rumor(_El amanecer rojo_) |
|_. [[Picos Zarcos]] |{border:1px solid black}. Visitada |
|_. [[Riscos de Cristal]] |{border:1px solid black}. Desconocida |
|_. [[Torreón Tenebroso]] |{border:1px solid black}. Desconocida |

h3. Islas

table{border:1px solid black;width:60%}.
|_. Isla |_. Estado |_. Niveles |
|_. [[Bahía ardiente]] |{border:1px solid black}. Desconocida |
|_. [[Cala de la Medianoche]] |{border:1px solid black}. Visitada|
|_. [[Corrientes de la Horrible Calma]] |{border:1px solid black}. Visitada |
|_. [[Cuenca Sollozante]] |{border:1px solid black}. Desconocida |
|_. [[Estrecho de Grancor]] |{border:1px solid black}. Desconocida |
|_. [[Estrecho Ventoso]] |{border:1px solid black}. Desconocida |
|_. [[Golfo Amortajado]] |{border:1px solid black}. Desconocida |
|_. [[Mar Brillante]] |{border:1px solid black}. Desconocida |
|_. [[Mar de Cerridor]] |{border:1px solid black}. Conquistada | 51, 57 |
|_. [[Mar de la Marea Roja]] |{border:1px solid black}. [[:mae-se-or-supremo | Señor Supremo]] |
</div>